@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>

<div class="text-center">
    <h3 class="display-4"><a href="/">Chefs</a> | Dishes</h3>
</div>
<div class="column-con">
    <div class="column">
        <p>Yum, look at our tasty dishes!</p>
        <a href="/newdish">Add a Dish</a>
    </div>
</div>
<hr>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Chef</th>
        <th scope="col">Tastiness</th>
        <th scope="col">Calories</th>
    </tr>
    </thead>
    <tbody>
    @foreach(Dish dish in Model)
    {
        <tr>
            <td>@dish.DishName</td>
            <td>@dish.ChefName</td>
            <td>@dish.Tastiness</td>
            <td>@dish.Calories</td>
        </tr>
    }
    </tr>
    </tbody>
</table>
